* {
  padding:0;
  margin:0;
  font-family: 'Lato', sans-serif;
}

body {
  background: #000;
}

.clearfix {
  overflow: auto;
}

.education-entry, .work-entry, .project-entry, .online-education-entry {
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

h2, h3, h4, h5 {
  padding:10px;
  padding-left: 5%;
  padding-right: 5%;
}


.date-text {
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
  float: right;
}

p {
  font-size: 14px;
  line-height: 21px;
}

a {
  color: #E3C563; /* same as the orange text. */
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  line-height: 28px;
}

#skillsH3 {
  display: none;
}

.orange {
  background-color: #E3C563;
}

.orange-text {
  color: #E3C563;
}

.white-text {
  font-weight: bold;
  color: #FFFFFF;
}

.gray {
  background-color: #939593;
  padding-bottom: 10px;
  clear:both;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
  float: right;
}

.light-gray-text {
   color: #939593;
}

.dark-gray-text {
   color: #181818;
}

.medium-gray {
  background-color: #333333;
}

.dark-gray {
  background-color: #181818;
}

.lowercase-text {
  text-transform: lowercase;
}

#header, #footer {
  background-color:  #181818;
}

.flex-box {
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-around;
  padding: 10px;

  /* nmb. */
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

.flex-item {
}

.center-content {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%;
  float: none;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;

  /* Display a solid border around the picture. */
  border: 6px solid #fff;  
  float: left;
  margin: 20px;
  overflow: hidden;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
   
  -webkit-box-shadow: 5px 5px 5px #939593;
     -moz-box-shadow: 5px 5px 5px #939593;
      -ms-box-shadow: 5px 5px 5px #939593;
          box-shadow: 5px 5px 5px #939593;    
}

img {
  padding: 10px;
}

/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

span {
  padding: 5px;
}

#letsConnect {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

.map-info-style{
    height: 100%;
    overflow: auto;
    white-space: nowrap;
    text-align: left;
    float: none;

}

.map-entry-style{
    text-align: right;
}

.scroll-div {
  height: 360px;
  overflow-y: scroll;  
  display: block;
  overflow: -moz-scrollbars-none
}

.project-div {
  overflow-y: scroll;  
  display: block;
  float:left;
  overflow: -moz-scrollbars-none
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  .biopic,
  .project-div {
    display: block;
  }
}

hr.fancy-fade-orange {
    border: 0;
    height: 1px;
    background: #333333;
    background-color:#333333;
    background-image: -webkit-linear-gradient(left, black, #E3C563, black); 
    background-image:    -moz-linear-gradient(left, black, #E3C563, black); 
    background-image:     -ms-linear-gradient(left, black, #E3C563, black); 
    background-image:      -o-linear-gradient(left, black, #E3C563, black); 
}

hr.fancy-fade-white {
    border: 0;
    height: 1px;
    background: black;
    background-color:black;
    background-image: -webkit-linear-gradient(left, #333333, #FFF, #333333); 
    background-image:    -moz-linear-gradient(left, #333333, #FFF, #333333); 
    background-image:     -ms-linear-gradient(left, #333333, #FFF, #333333); 
    background-image:      -o-linear-gradient(left, #333333, #FFF, #333333); 
}


/* Tilt an element. */
.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.tilt:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
